{% extends 'base.html' %}
{% block content %}
      <div>
        <div class="main">
          <div class="main__book">

            {% load static %}
            {% for book in books %}
            <div class="book-preview">
                <img class="book-preview__img" alt="Название книги" src="{% static "" %}/{{ book.cover }}">
                <div class="book-preview__name">{{ book.name }}</div>
                <div class="spring"></div>
                <div class="book-preview__author">{{ book.author }}</div>
                <a href="/catalog/{{ book.id }}">Подробнее</a>
                <div class="spring"></div>
                <div class="book-preview-order">
                    {% if book.is_available %}
                      <div class="book-preview-order__order button">Заказать</div>
                    {% else %}
                      <div class="book-preview-order__order button button--disable">Нет в наличии</div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
{% endblock %}
